[submodule "dbt-core"]
	path = dbt-core
	url = https://git.minres.com/DBT-RISE/DBT-RISE-Core.git
[submodule "scc"]
	path = scc
	url =  https://github.com/Minres/SystemC-Components.git
[submodule "external/elfio"]
	path = external/elfio
	url = http://git.code.sf.net/p/elfio/code
[submodule "external/libGIS"]
	path = external/libGIS
	url = https://github.com/vsergeev/libGIS.git
[submodule "riscv"]
	path = riscv
	url = https://git.minres.com/DBT-RISE/DBT-RISE-RISCV.git
