[submodule "dbt-rise-core"]
	path = dbt-rise-core
	url = https://github.com/Minres/DBT-RISE-Core.git
[submodule "scc"]
	path = scc
	url =  https://github.com/Minres/SystemC-Components.git
[submodule "external/libGIS"]
	path = external/libGIS
	url = https://github.com/vsergeev/libGIS.git
[submodule "dbt-rise-riscv"]
	path = dbt-rise-riscv
	url = https://github.com/Minres/DBT-RISE-RISCV.git
